body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #292929;
    color: #fff;
}

.Rsociales {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}


.logo img {
    max-height: 50px;
}