body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #292929;
   
}
.logo img {
    max-height: 50px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #d9d9d9;
}
.Rsociales a {
    margin-left: 10px;
    
}